.login__wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #eee;
}

.login__content {
  border-radius: 30px;
  background-color: white;

  padding: 4em 4em;
  width: 400px;
}

.image__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 2em;

  img {
    width: 100px;
    height: auto;
  }
}
